@import 'variables.sass'



.contents
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0
    padding: 0
    font-size: 1rem
    align-self: flex-end
    position: fixed
    top: 110px
    z-index: 10
    right: 50px
    width: 75%
    .all_sections
        margin: 0
        color: $gray
        font-size: 1rem
        margin: 0 2%
    .on_topic
        font-size: 1.25rem
        color: $green
    h3
        color: $gray
        margin: 0
        padding: 0
        font-size: 1.5rem

    .arrows_1
        font-size: 1rem
        background-image: linear-gradient(to right, $green 0%, $green 0%, $gray 0%, $gray 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    .arrows_2
        font-size: 1rem
        background-image: linear-gradient(to right, $green 0%, $green 0%, $gray 0%, $gray 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    .arrows_3
        font-size: 1rem
        background-image: linear-gradient(to right, $green 0%, $green 0%, $gray 0%, $gray 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent