@import 'variables.sass'



.contents
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0
    padding: 0
    align-self: flex-end
    position: fixed
    top: 110px
    z-index: 10
    right: 50px
    width: 75%
    @media screen and (max-width:1920px)
        top: 170px
        right: 70px
    @media screen and (max-width:480px)
        display: none
    .all_sections
        margin: 0
        color: $gray
        font-size: 1rem
        margin: 0 1%
        @media screen and (max-width:1920px)
            font-size: 1.5rem
    .on_topic
        color: $green
    h3
        color: $gray
        margin: 0
        padding: 0
        font-size: 1.5rem

    .arrows
        font-size: 1rem
        background-image: linear-gradient(to right, $green 0%, $green 0%, $gray 0%, $gray 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        @media screen and (max-width:1920px)
            font-size: 1.5rem

.art
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-top: 150px
    width: 100%
    @media screen and (max-width:480px)
        width: 100%
        right: auto
        margin-top: 0px

    .quorum
        align-self: center
        display: flex
        justify-content: center
        align-items: center
        width: 35%
        background-color: black
        .slide
            width: 100%

    .stem
        align-self: center
        display: flex
        justify-content: center
        align-items: center
        width: 50%
        background-color: black
        .slide
            width: 100%

    .artbox
        display: flex
        margin-top: 15px
        width: 95%
        flex-direction: row
        align-items: center
        justify-content: space-between
        align-self: center
        @media screen and (max-width:1920px)
            margin-top: 50px
        @media screen and (max-width:480px)
            flex-direction: column
            flex-wrap: wrap
            width: 90%
            margin: 0
        .artcat
            display: flex
            flex-direction: row
            width: 45%
            flex-wrap: wrap
            @media screen and (max-width:1920px)
                margin-top: 30px
            @media screen and (max-width:480px)
                display: none
            .bContainer
                display: flex
                justify-content: center
                height: 30vh
                width: 40%
                margin: 10px

                img
                    width: 100%
                    object-fit: scale-down

                img:hover
                    border: 8px solid black
                    outline: 4px solid $green
                    cursor: pointer
                
            

        .inactive
            display: none
            @media screen and (max-width:480px)
                display: flex

    .sel
        position: fixed
        right: 50px
        top: 150px
        margin-top: 20px
        @media screen and (max-width:1920px)
            top: 200px
        @media screen and (max-width:480px)
            position: static
            right: auto
            margin-top: 50px

        div
            @media screen and (max-width:1920px)
                top: 30px
            img
                border-left: 5px solid $background
                border-right: 5px solid $background
                

        .top
            width: 45%
            z-index: 1
            grid-column: 6/16
            grid-row: 1
            border: 1px solid black
            outline: 1px solid white
        
        .top:hover
            outline: 4px solid $green
            width: 80%
            cursor: pointer

        .leftimg
            position: fixed
            grid-column: 1/9
            grid-row: 2/7
            transform: rotate(20deg)
            border: 1px solid black
            outline: 1px solid white
            width: 21%
            z-index: 0
            left: 47%
            top: 330px

        .leftimg:hover
            z-index: 2
            outline: 4px solid $green
            transform: rotate(0deg)
            width: 32%
            top: 175px
            cursor: pointer


        .rightimg
            position: fixed
            right: 7%
            top: 350px
            width: 25%
            transform: rotate(-20deg)
            z-index: 0
            border: 1px solid black
            outline: 1px solid white

        .rightimg:hover
            z-index: 2
            outline: 4px solid $green
            transform: rotate(0deg)
            width: 40%
            top: 175px
            cursor: pointer

    .pamphlet
        width: 27%
        right: 250px
        @media screen and (max-width:480px)
            width: 100%
            right: auto
    .rest
        width: 54%
        @media screen and (max-width:480px)
            width: 100%
            right: auto

    .biggest
        width: 34%

    .other
        width: 42%
        @media screen and (max-width:480px)
            width: 100%
            right: auto

    .double
        width: 47%
        @media screen and (max-width:480px)
            width: 100%
            right: auto

    .type
        right: 100px
        @media screen and (max-width:480px)
            width: 100%
            right: auto

    .quorum
        right: 200px
        @media screen and (max-width:480px)
            width: 100%
            right: auto

    .illu
        right: 135px
        @media screen and (max-width:480px)
            width: 100%
            right: auto

.activeb
    border: 8px solid black
    outline: 4px solid $blue

.gastric
    img
        width: 50%

.cardio
    width: 70%
    .entire
        display: flex
        div
            width: 100%

.carousel .slide
    background: $background
    width: 99%

.description
    width: 100%
    height: 100%
    padding-top: 10px
    z-index: 2
    background-color: $background
    p
        color: white
        font-size: 1.2rem
        text-align: left
        margin: 0px 4%
        @media screen and (max-width:480px)
            font-size: 1rem

h1
    font-size: 1.5rem
    color: $green

.card
    display: flex
    justify-content: center
    .top
        align-self: center


h2
    font-size: 1.5rem
    color: $green
    @media screen and (max-width:480px)
        font-size: 1.25rem

