@import 'variables.sass'



.contents
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0
    padding: 0
    font-size: 1rem
    align-self: flex-end
    position: fixed
    top: 110px
    z-index: 10
    right: 50px
    width: 75%
    .all_sections
        margin: 0
        color: $gray
        font-size: 1rem
        margin: 0 1%
    .on_topic
        color: $green
    h3
        color: $gray
        margin: 0
        padding: 0
        font-size: 1.5rem

    .arrows
        font-size: 1rem
        background-image: linear-gradient(to right, $green 0%, $green 0%, $gray 0%, $gray 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent


.art
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-top: 150px

    .quorum
        align-self: center
        display: flex
        justify-content: center
        align-items: center
        width: 35%
        background-color: black
        .slide
            width: 100%

    .stem
        align-self: center
        display: flex
        justify-content: center
        align-items: center
        width: 50%
        background-color: black
        .slide
            width: 100%

    .card
        display: flex
        margin-top: 100px
        justify-content: space-between
        align-items: flex-start
        width: 80%
        .contact
            border: 1px solid white
            width: 100%
        .contact:hover
            box-shadow: 0 0 10px 10px $blue
            cursor: pointer

        .collateral
            width: 40%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .hide
                display: none
            .allcol
                display: grid
                grid-template-columns: repeat(10, 1fr);
                width: 120%
                margin-top: 20px
                justify-content: center
                .leftimg
                    width: 70%
                    transform: rotate(20deg)
                    grid-column: 1 / 8
                    grid-row: 1
                    border: 1px solid black
                    outline: 1px solid white
                .rightimg
                    width: 120%
                    transform: rotate(-20deg)
                    z-index: 100
                    margin-top: 100px
                    grid-column: 5 / 10
                    grid-row: 1
                    border: 1px solid black
                    outline: 1px solid white
.prosthetics
    display: flex
    margin-top: 100px
    width: 80%
    flex-direction: column
    align-items: center

    .books
        display: flex
        justify-content: space-between
        img
            width: 10%

    .pamphlet
        display: none

    .sel
        margin-top: 20px
        width: 24%

.activeb
    border: 2px solid white

.gastric
    img
        width: 50%

.cardio
    width: 70%
    background-color: green
    .entire
        display: flex
        div
            width: 100%


.carousel .slide
    background: white