@import 'variables.sass'

.Dev
    margin-top: 50px
    color: blue
    width: 100%
    display: flex
    flex-direction: column
    justify-content: flex-end
    a
        color: $green
        align-self: center
        font-size: 2.5rem
        border: 3px solid $blue
        padding: 10px
        margin-top: 20px
        border: 10px solid black
        box-shadow: -33px 33px 0 -30px $blue, 33px -33px 0 -30px $blue
        text-decoration: none
    a:hover
        animation: snake-around 1s ease-in-out 0s infinite

    @keyframes snake-around
        0%
            box-shadow: -33px 33px 0 -30px $blue, 33px -33px 0 -30px $blue
        50%
            box-shadow: 33px 33px 0 -30px $blue, -33px -33px 0 -30px $blue
        100%
            box-shadow: 33px -33px 0 -30px $blue, -33px 33px 0 -30px $blue
  

    .contents
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin: 0
        padding: 0
        align-self: flex-end
        position: fixed
        top: 110px
        z-index: 10
        right: 50px
        .all_sections
            margin: 0
            color: $gray
            font-size: 1rem
        .on_topic
            color: $green
        h3
            color: $gray
            margin: 0
            padding: 0

        .arrows
            font-size: 1rem
            background-image: linear-gradient(to right, $green 0%, $green 0%, $gray 0%, $gray 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
    section
        padding-left: 2%

        h1
            z-index: 1
            position: sticky
            padding-top: 75px
            padding-bottom: 10px

            margin: 0
            top: 80px
            left: 500px
            background-color: $background
            width: 100%
            font-size: 3rem
            color: $green
            font-style: italic
        
        h2
            color: white
            font-size: 1.25rem

.t-logos
    display: flex
    flex-direction: row
    margin-top: 75px


.t-logos-drafts
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 85%
    margin-top: 75px
    margin-bottom: 75px

    div
        display: flex
        justify-content: center
        img
            margin: 10px
            width: 15%
        
        .final-traction-logo:hover
            transform: rotateY(360deg)	
            transition: transform 1s

.all_sections:hover
    cursor: pointer

h2
    color: #FFBF00
    font-size: 1.25rem

.start-section
    margin-top: 100px




.logo-sect
    display: flex
    flex-direction: column

.UI
    display: flex
    flex-direction: row
    img
        width: 45%
        margin-bottom: 75px

    h2
        width: 90%
        margin-left: 5%
        margin-right: 5%

.mapped
    display: flex
    flex-direction: row
    h2
    .check
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-between
        .checkedGroup
            width: 50%

    img
        width: 35%
        margin-bottom: 75px
        margin-left: 5%
        margin-right: 5%


.tech-used
    display: flex
    margin-top: 30px
    align-self: center
    flex-wrap: wrap
    width: 70%
    align-items: center
    justify-content: space-between

    .single-tech
        display: flex
        align-items: center
        flex-direction: column
        margin: 20px
        background-color: white
        padding: 10px
        box-shadow: -33px 33px 0 -30px $blue, 33px -33px 0 -30px $blue
        border: 10px solid black

        img
            width: 75px
            margin-bottom: 5px
        .postgres
            max-width: 100px
        .javascript
            max-width: 150px
        .fullcalendar
            max-width: 100px
        .moment
            max-width: 100px
        h3
            margin: 0
            color: $background
            font-size: 1rem


.logo-group
    display: flex

.check-group
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 10%
    h6
        margin-top: 5px
        color: $green