@import 'variables.sass'

.Dev
    margin-top: 20px
    color: blue
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    @keyframes snake-around
        0%
            box-shadow: -33px 33px 1px -30px $blue, 33px -33px 1px -30px $blue
        50%
            box-shadow: 33px 33px 1px -30px $blue, -33px -33px 1px -30px $blue
        100%
            box-shadow: 33px -33px 1px -30px $blue, -33px 33px 1px -30px $blue
  

    .contents
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin: 0
        padding: 0
        align-self: flex-end
        position: fixed
        top: 110px
        z-index: 10
        right: 50px
        .all_sections
            margin: 0
            color: $gray
            font-size: 1rem
        .on_topic
            color: $green
        h3
            color: $gray
            margin: 0
            padding: 0

        .arrows
            font-size: 1rem
            background-image: linear-gradient(to right, $green 0%, $green 0%, $gray 0%, $gray 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
    section
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 0 2% 20px 2%
        width: 100%
        h1
            z-index: 1
            position: sticky
            padding-top: 75px
            padding-bottom: 10px
            padding-left: 2%
            margin: 0
            top: 80px
            background-color: $background
            width: 100%
            font-size: 2.5rem
            color: $green
            font-style: italic

        #traction-project
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: flex-start
            padding: 0px 0 40px 0
            box-shadow: 0px 62px 0 -60px $gray
        .project
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: flex-start
            padding: 40px 0 40px 0
            box-shadow: 0px 62px 0 -60px $gray

            .left
                display: flex
                flex-direction: column
                width: 100%
                justify-content: center
                align-items: center
                margin-top: 50px
                margin-left: 2%
                margin-right: 2%
                .t-logos-drafts
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    width: 100%
                    margin-bottom: 75px

                    div
                        display: flex
                        justify-content: center
                        img
                            margin: 10px
                            width: 17%
                        
                        .final-traction-logo:hover
                            transform: rotateY(360deg)	
                            transition: transform 1s
                .web-sec
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-items: flex-start
                    width: 100%
                    .web-group
                        display: flex
                        flex-direction: column-reverse
                        margin: 0px 20px;        
                        width: 50%
                        .web-link
                            margin: 20px 0px
                            font-size: 1rem
                            color: $gray
                            align-self: center
                            text-decoration: none
                        .web-arrow
                            color: white
                            align-self: center
                            font-size: 2.5rem
                            border: 3px solid $blue
                            padding: 10px
                            margin-top: 20px
                            border: 10px solid black
                            box-shadow: -33px 33px 0 -30px $blue, 33px -33px 0 -30px $blue
                            text-decoration: none
                    .web-group:hover > .web-link
                        color: $green
                    .web-group:hover > .web-arrow
                        animation: snake-around 1s ease-in-out 0s infinite reverse
                        color: $green
                    .web-group:hover
                        cursor: pointer
                h2
                    color: $blue
                    font-size: 1.25rem
                p
                    color: white
                    width: 90%
                    font-size: 1.25rem
                
                img
                    width: 70%
                    height: auto

                    
            .right
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 100%
                height: 75vh
                z-index: 1
                box-shadow: -32px 0px 0 -30px $gray
                h2
                    color: $blue
                    font-size: 1.25rem

                p
                    color: white
                    width: 90%
                    font-size: 1.25rem

                img
                    width: 70%
                    height: auto

                .calendar
                    width: 90%
                
                .quotes-page
                    width: 90%

                .reform
                    width: 90%
                    
                .tech-used
                    display: flex
                    align-self: center
                    flex-wrap: wrap
                    width: 100%
                    align-items: center
                    justify-content: center

                    .single-tech
                        display: flex
                        align-items: center
                        flex-direction: column
                        margin: 10px
                        background-color: white
                        padding: 10px
                        box-shadow: -33px 33px 0 -30px $blue, 33px -33px 0 -30px $blue
                        border: 10px solid black

                        img
                            width: 55px
                        .postgres
                            max-width: 100px
                        .javascript
                            max-width: 150px
                        .fullcalendar
                            max-width: 100px
                        .moment
                            max-width: 100px
                        h3
                            margin: 0
                            color: $background
                            font-size: 1rem
            

.t-logos
    display: flex
    flex-direction: row
    margin-top: 75px

.all_sections:hover
    cursor: pointer






.logo-sect
    display: flex
    flex-direction: column

.UI
    display: flex
    flex-direction: row
    img
        width: 45%
        margin-bottom: 75px


.mapped
    display: flex
    flex-direction: row
    
    .check
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-between
        .checkedGroup
            width: 50%

    img
        width: 35%
        margin-bottom: 75px
        margin-left: 5%
        margin-right: 5%




.logo-group
    display: flex

.check-group
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 10%
    h6
        margin-top: 5px
        color: $green

div.tech-used
    display: flex


.video
    display: flex
    justify-content: center


